
body, html
{
    background: #AAAAAA;
    font-size: large;
    font-family: "New Century Schoolbook", "TeX Gyre Schola", serif;
}


.divider {
  display: flex;

  &:before,
  &:after {
    content: "";
    flex: 1;
  }
}

p {
    font-size: 1.4em;
}
h1{
    font-family: 'Doom 2016 Left', sans-serif;
    font-size: 4em;
    color: #f00;
}
h2 {
    font-family: 'Doom 2016 Left', sans-serif;
    font-size: 3em;
}
.fata {
    font-family: 'Doom 2016 Left', sans-serif;
    font-size: 3em;
color: #00f;
}
ul{
    font-size: 1.3em;
}

.dnc {
  overflow: hidden;
  align-items: center;
  background: hsl(0, 100%, 50%);
  color: black;
  height: 2em;
  line-height: 2em;
	
  &:before,
  &:after {
    background: white;
    padding: 50px 0;
    height: 0;
    transform: rotate(45deg);
  }
}

img{
    border-radius: 30px;
}
section {
    display: flex;
    align-items: center;
    height: 100vh;
    position: relative;
    flex-wrap: wrap;
}


.carousel-caption{
    color: #ff0000;
    border-radius: 20px;
    background-color: rgba(170, 170, 170, 0.6);
}
